{{#contentFor "pageCss"}}
   <!--Full Calendar [ OPTIONAL ]-->
        <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/jasmine.css" rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="plugins/pace/pace.min.css" rel="stylesheet">
        <script src="plugins/pace/pace.min.js"></script>
        <script src="js/modernizr.custom.js"></script>
{{/contentFor}}
  <div class="boxed">
                <section id="content-container">
                    <header class="pageheader hidden-xs">
                        <h3><i class="fa fa-home"></i> Calendar </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Home </a> </li>
                                <li class="active"> Calendar </li>
                            </ol>
                        </div>
                    </header>
                    <section id="page-content">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Events</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h4 class="text-thin">Draggable Events</h4>
                                        <div id="demo-external-events">
                                            <div class="fc-event">My Event 1</div>
                                            <div class="fc-event">My Event 2</div>
                                            <div class="fc-event">My Event 3</div>
                                            <div class="fc-event">My Event 4</div>
                                            <div class="fc-event">My Event 5</div>
                                            <div class="fc-event">My Event 6</div>
                                            <hr>
                                            <div>
                                                <label class="form-checkbox form-normal form-primary">
                                                <input type="checkbox" id="drop-remove">
                                                Remove after drop </label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="panel">
                                    <div class="panel-body">
                                       
                                        <div id='demo-calendar'></div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                  
                </section>
                
                <nav id="mainnav-container">
                  
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <i class="fa fa-forumbee brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">WOW</span>
                            </div>
                        </a>
                    </div>
                   
{{#contentFor "pageScripts"}}
      <!--===================================================--> 
        <!-- END OF CONTAINER --> 
        <!--JAVASCRIPT--> 
        <!--=================================================--> 
        <!--jQuery [ REQUIRED ]--> 
        <script src="js/jquery-2.1.1.min.js"></script> 
        <!--BootstrapJS [ RECOMMENDED ]--> 
        <script src="js/bootstrap.min.js"></script> 
        <!--Fast Click [ OPTIONAL ]--> 
        <script src="plugins/fast-click/fastclick.min.js"></script> 
        <!--Jasmine Admin [ REQUIRED ]--> 
        <script src="js/scripts.js"></script> 
        <!--Jquery Nano Scroller js [ REQUIRED ]-->
        <script src="plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <!--Metismenu js [ REQUIRED ]-->
        <script src="plugins/metismenu/metismenu.min.js"></script>
        <!--Switchery [ OPTIONAL ]--> 
        <script src="plugins/switchery/switchery.min.js"></script> 
        <!--Bootstrap Select [ OPTIONAL ]--> 
        <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script> 
        <!--Full Calendar [ OPTIONAL ]--> 
        <script src="plugins/fullcalendar/lib/moment.min.js"></script> 
        <script src="plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script> 
        <script src="plugins/fullcalendar/fullcalendar.min.js"></script> 
        <!--Full Calendar [ SAMPLE ]--> 
        <script src="js/demo/fullcalendar.js"></script> 
        <!--Fullscreen jQuery [ OPTIONAL ]--> 
        <script src="plugins/screenfull/screenfull.js"></script>  
{{/contentFor}}