{{#contentFor "pageScripts"}}
   <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/jasmine.css" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/gamma-gallery.css" rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <script src="plugins/gamma-gallery/js/modernizr.custom.70736.js"></script>
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="plugins/pace/pace.min.css" rel="stylesheet">
        <script src="plugins/pace/pace.min.js"></script>
{{/contentFor}}


<div class="boxed">
                <!--CONTENT CONTAINER-->
                <!--===================================================-->
                <div id="content-container">
                    <div class="pageheader hidden-xs">
                        <h3><i class="fa fa-home"></i> Gallery </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Home </a> </li>
                                <li class="active"> Gallery </li>
                            </ol>
                        </div>
                    </div>
                    <!--Page content-->
                    <!--===================================================-->
                    <div id="page-content">
                        <div class="row">
                            <div class="col-lg-12">
                               <div class="panel">
      					          <div class="panel-heading">
                                    <span class="pull-right pad-20">
                                      <button class="btn btn-default" type="button"><i class="fa fa-upload"></i> Upload</button>
                                      <button class="btn btn-default" type="button"><i class="fa fa-edit"></i> Edit </button>
                                      <button class="btn btn-default" type="button"><i class="fa fa-trash"></i> Trash</button>
                                    </span>
                                  </div>
                                    <div class="panel-body">
                        <div class="gamma-container gamma-loading" id="gamma-container">
                            <ul class="gamma-gallery">
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-4.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-5.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-6.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-7.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-4.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-4.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-5.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-5.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-6.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-6.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-7.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-7.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-9.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-8.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-1.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-2.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-3.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                                <li>
                                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="1300"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="1000"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="700"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="300"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="200"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png" data-min-width="140"></div>
                                        <div data-src="images/gamma/medium/gallery-9.png"></div>
                                        <noscript>
                                            <img src="images/gamma/medium/gallery-9.png" alt="img03" />
                                        </noscript>
                                    </div>
                                </li>
                            </ul>
                            <div class="gamma-overlay"></div>
                            <div id="loadmore" class="loadmore btn btn-default btn-block">loading more items...</div>
					   </div>
									
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <!--===================================================-->
                    <!--End page content-->
                </div>
                <!--===================================================-->
                <!--END CONTENT CONTAINER-->
                <!--MAIN NAVIGATION-->
                <!--===================================================-->
                <nav id="mainnav-container">
                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <i class="fa fa-forumbee brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">WOW</span>
                            </div>
                        </a>
                    </div>
                    <!--================================-->
                    <!--End brand logo & name-->


{{#contentFor "pageScripts"}}
   <!--===================================================-->
        <!-- END OF CONTAINER -->
        <!--JAVASCRIPT-->
        <!--=================================================-->
        <!--jQuery [ REQUIRED ]-->
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="js/bootstrap.min.js"></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src="plugins/fast-click/fastclick.min.js"></script>
        <!--Jquery Nano Scroller js [ REQUIRED ]-->
        <script src="plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <!--Metismenu js [ REQUIRED ]-->
        <script src="plugins/metismenu/metismenu.min.js"></script>
        <!--Jasmine Admin [ RECOMMENDED ]-->
        <script src="js/scripts.js"></script>
        <!--Switchery [ OPTIONAL ]-->
        <script src="plugins/switchery/switchery.min.js"></script>
        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <!--Gamma Gallery [ OPTIONAL ]-->
        <script src="plugins/gamma-gallery/js/jquery.masonry.min.js"></script>
        <script src="plugins/gamma-gallery/js/jquery.history.js"></script>
        <script src="plugins/gamma-gallery/js/js-url.min.js"></script>
        <script src="plugins/gamma-gallery/js/jquerypp.custom.js"></script>
        <script src="plugins/gamma-gallery/js/gamma.js"></script>
        <!--Fullscreen jQuery [ OPTIONAL ]-->
        <script src="plugins/screenfull/screenfull.js"></script>
        <!--Demo script [ DEMONSTRATION ]-->
        <script src="js/demo/pages-gallery.js"></script>
{{/contentFor}}