{{#contentFor "pageScripts"}}
   <!--Demo [ DEMONSTRATION ]-->
    <link href="css/demo/jasmine.css" rel="stylesheet">
    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>
{{/contentFor}}


 <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div class="pageheader hidden-xs">
                    <h3><i class="fa fa-home"></i> Directory </h3>
                    <div class="breadcrumb-wrapper">
                        <span class="label">You are here:</span>
                        <ol class="breadcrumb">
                            <li> <a href="#"> Home </a> </li>
                            <li class="active"> Directory </li>
                        </ol>
                    </div>
                </div>
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">User Directory</h3>
                            </div>
                            <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="form-group">
                                                    <input id="demo-foo-search" type="text" placeholder="Who are you looking for?" class="form-control search-input" autocomplete="off">
                                                </div>
                                            </div>
                                           <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select id="demo-foo-filter-status" class="form-control search-input">
                                                        <option value="">Show all</option>
                                                        <option value="active">Active</option>
                                                        <option value="disabled">Disabled</option>
                                                        <option value="suspended">Suspended</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                <!-- Foo Table - Filtering -->
                                <!--===================================================-->
                                <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                                    <thead>
                                        <tr>
                                            <th>Profile</th>
                                            <th data-toggle="true">First Name</th>
                                            <th>Last Name</th>
                                            <th data-hide="phone, tablet">Job Title</th>
                                            <th data-hide="phone, tablet">DOB</th>
                                            <th data-hide="phone, tablet">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
										    <td>
                                              <div class="media-object"> 
											     <img src="img/av1.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Albert</td>
                                            <td>Desouza</td>
                                            <td>System Architect</td>
                                            <td>22 Jun 1972</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av5.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Semantha</td>
                                            <td>Halladay</td>
                                            <td>Junior Technical Assistant</td>
                                            <td>30 Dec 1991</td>
                                            <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av6.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Stevan </td>
                                            <td>Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td>17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av2.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Teresa </td>
                                            <td>L. Doe</td>
                                            <td>Pre-Sales Support</td>
                                            <td>3 Oct 1981</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av3.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Veronica </td>
                                            <td>Gusikowski</td>
                                            <td>Civil Engineer/td> 
                                            <td>19 Apr 1969</td>
                                            <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av4.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>										
                                            <td>Bruce </td>
                                            <td>Rogahn</td>
                                            <td>CEO</td>
                                            <td>13 Dec 1977</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av7.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Carolina </td>
                                            <td>Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td>17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object"> 
											     <img src="img/av1.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Albert</td>
                                            <td>Desouza</td>
                                            <td>System Architect</td>
                                            <td>22 Jun 1972</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av4.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>										
                                            <td>Bruce </td>
                                            <td>Rogahn</td>
                                            <td>CEO</td>
                                            <td>13 Dec 1977</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av5.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Semantha</td>
                                            <td>Halladay</td>
                                            <td>Junior Technical Assistant</td>
                                            <td>30 Dec 1991</td>
                                            <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av2.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Teresa </td>
                                            <td>L. Doe</td>
                                            <td>Pre-Sales Support</td>
                                            <td>3 Oct 1981</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av3.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Veronica </td>
                                            <td>Gusikowski</td>
                                            <td>Civil Engineer/td> 
                                            <td>19 Apr 1969</td>
                                            <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av6.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Stevan </td>
                                            <td>Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td>17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
										    <td>
                                              <div class="media-object center"> 
											     <img src="img/av7.png" alt="" class="img-rounded img-sm"> 
										      </div>
                                            </td>
                                            <td>Carolina </td>
                                            <td>Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td>17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <div class="text-right">
                                                    <ul class="pagination"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <!--===================================================-->
                                <!-- End Foo Table - Filtering -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--===================================================-->
                <!--End page content-->
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <i class="fa fa-forumbee brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">WOW</span>
                            </div>
                        </a>
                    </div>
                    <!--================================-->
                    <!--End brand logo & name-->


{{#contentFor "pageScripts"}}
  <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="js/bootstrap.min.js"></script>
    <!--Fast Click [ OPTIONAL ]-->
    <script src="plugins/fast-click/fastclick.min.js"></script>
    <!--Jquery Nano Scroller js [ REQUIRED ]-->
    <script src="plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
    <!--Metismenu js [ REQUIRED ]-->
    <script src="plugins/metismenu/metismenu.min.js"></script>
    <!--Jasmine Admin [ RECOMMENDED ]-->
    <script src="js/scripts.js"></script>
    <!--Switchery [ OPTIONAL ]-->
    <script src="plugins/switchery/switchery.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--FooTable [ OPTIONAL ]-->
    <script src="plugins/fooTable/dist/footable.all.min.js"></script>
    <!--Fullscreen jQuery [ OPTIONAL ]-->
    <script src="plugins/screenfull/screenfull.js"></script>
    <!--FooTable Example [ SAMPLE ]-->
    <script src="js/demo/pages-directory.js"></script>
{{/contentFor}}