{{#contentFor "pageScripts"}}
  <!--Bootstrap Validator [ OPTIONAL ]-->
        <link href="plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/jquery-steps.min.css" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/jasmine.css" rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="plugins/pace/pace.min.css" rel="stylesheet">
        <script src="plugins/pace/pace.min.js"></script>
{{/contentFor}}


 <div class="boxed">
                <!--CONTENT CONTAINER-->
                <!--===================================================-->
                <div id="content-container">
                    <!--Page Title-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="pageheader hidden-xs">
                        <h3><i class="fa fa-home"></i> Checkbox & Radio </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Home </a> </li>
                                <li class="active"> Checkbox & Radio </li>
                            </ol>
                        </div>
                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End page title-->
                    <!--Page content-->
                    <!--===================================================-->
                    <div id="page-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Block level checkboxes</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <!--Block level icon checkboxes-->
                                            <!--===================================================-->
                                            <form class="form-block">
                                                <label class="form-checkbox form-icon active">
                                                <input type="checkbox" checked> Option 1</label>
                                                <label class="form-checkbox form-icon">
                                                <input type="checkbox"> Option 2</label>
                                                <label class="form-checkbox form-icon">
                                                <input type="checkbox"> Option 3</label>
                                                <label class="form-checkbox form-icon disabled">
                                                <input type="checkbox" disabled> Option 4</label>
                                            </form>
                                            <!--===================================================-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Block level icon checkboxes-->
                                            <!--===================================================-->
                                            <form class="form-block">
                                                <label class="form-checkbox form-icon form-primary">
                                                <input type="checkbox"> Option 1</label>
                                                <label class="form-checkbox form-icon form-danger active">
                                                <input type="checkbox" checked> Option 2</label>
                                                <label class="form-checkbox form-icon form-purple">
                                                <input type="checkbox"> Option 3</label>
                                                <label class="form-checkbox form-icon form-success disabled">
                                                <input type="checkbox" disabled> Option 4</label>
                                            </form>
                                            <!--===================================================-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Block level Radios</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <!--Block level icon radio buttons-->
                                            <!--===================================================-->
                                            <form class="form-block">
                                                <label class="form-radio form-icon active">
                                                <input type="radio" name="ico-blk" checked> Option</label>
                                                <label class="form-radio form-icon">
                                                <input type="radio" name="ico-blk"> Option 2</label>
                                                <label class="form-radio form-icon">
                                                <input type="radio" name="ico-blk"> Option 3</label>
                                                <label class="form-radio form-icon disabled">
                                                <input type="radio" name="ico-blk" disabled> Option 4</label>
                                            </form>
                                            <!--===================================================-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Block level icon radio buttons-->
                                            <!--===================================================-->
                                            <form class="form-block">
                                                <label class="form-radio form-icon form-primary active">
                                                <input type="radio" name="ico-blk" checked> Option</label>
                                                <label class="form-radio form-icon form-danger">
                                                <input type="radio" name="ico-blk"> Option 2</label>
                                                <label class="form-radio form-icon form-purple">
                                                <input type="radio" name="ico-blk"> Option 3</label>
                                                <label class="form-radio form-icon form-success disabled">
                                                <input type="radio" name="ico-blk" disabled> Option 4</label>
                                            </form>
                                            <!--===================================================-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- CHECKBOXES -->
                            <!--===================================================-->
                            <div class="col-md-6">
                                <!--Checkboxes using the font awesome icon-->
                                <!--===================================================-->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Checkboxes with Font Awesome</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="pad-ver">
                                            <!--Checkboxes labeled-->
                                            <!--===================================================-->
                                            <label class="form-checkbox form-icon active">
                                            <input type="checkbox" checked> Option 1</label>
                                            <label class="form-checkbox form-icon">
                                            <input type="checkbox"> Option 2</label>
                                            <label class="form-checkbox form-icon">
                                            <input type="checkbox"> Option 3</label>
                                            <label class="form-checkbox form-icon disabled">
                                            <input type="checkbox" disabled> Disabled</label>
                                            <!--===================================================-->
                                        </div>
                                        <div class="pad-ver">
                                            <!-- With Font Awesome icon -->
                                            <!--===================================================-->
                                            <label class="form-checkbox form-icon form-primary active">
                                            <input type="checkbox" checked> Option 1</label>
                                            <label class="form-checkbox form-icon form-danger">
                                            <input type="checkbox"> Option 2</label>
                                            <label class="form-checkbox form-icon form-purple">
                                            <input type="checkbox"> Option 3</label>
                                            <label class="form-checkbox form-icon form-success active">
                                            <input type="checkbox" disabled> Option 4</label>
                                            <!--===================================================-->
                                        </div>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Checkboxes using the font awesome icon-->
                            </div>
                            <!--===================================================-->
                            <!--END CHECKBOXES-->
                            <!--RADIO BUTTONS-->
                            <!--===================================================-->
                            <div class="col-md-6">
                                <!--Radio buttons using the font awesome icon-->
                                <!--===================================================-->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Radio buttons with Font Awesome</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="pad-ver">
                                            <!--Radio buttons with label-->
                                            <!--===================================================-->
                                            <label class="form-radio form-icon active">
                                            <input type="radio" name="ico-w-label" checked> Option 1</label>
                                            <label class="form-radio form-icon">
                                            <input type="radio" name="ico-w-label"> Option 2</label>
                                            <label class="form-radio form-icon">
                                            <input type="radio" name="ico-w-label"> Option 3</label>
                                            <label class="form-radio form-icon disabled">
                                            <input type="radio" name="ico-w-label" disabled> Disabled</label>
                                            <!--===================================================-->
                                        </div>
                                        <div class="pad-ver">
                                            <!--Radio buttons using the Font Awesome's icon -->
                                            <!--===================================================-->
                                            <label class="form-radio form-icon form-primary active">
                                            <input type="radio" name="cl-ico" checked> Option 1</label>
                                            <label class="form-radio form-icon form-danger">
                                            <input type="radio" name="cl-ico"> Option 2</label>
                                            <label class="form-radio form-icon form-purple">
                                            <input type="radio" name="cl-ico"> Option 3</label>
                                            <label class="form-radio form-icon form-success disabled">
                                            <input type="radio" name="cl-ico" disabled> Option 4</label>
                                            <!--===================================================-->
                                        </div>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!-- End of Radio buttons using the font awesome icon -->
                            </div>
                            <!--===================================================-->
                            <!-- End Radio buttons -->
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End page content-->
                </div>
                <!--===================================================-->
                <!--END CONTENT CONTAINER-->
                <!--MAIN NAVIGATION-->
                <!--===================================================-->
                <nav id="mainnav-container">
                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <i class="fa fa-forumbee brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">WOW</span>
                            </div>
                        </a>
                    </div>
                    <!--================================-->
                    <!--End brand logo & name-->


{{#contentFor "pageScripts"}}
   <!--===================================================-->
        <!-- END OF CONTAINER -->
        <!--JAVASCRIPT-->
        <!--=================================================-->
        <!--jQuery [ REQUIRED ]-->
        <script src="js/jquery-2.1.1.min.js"></script>
        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="js/bootstrap.min.js"></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src="plugins/fast-click/fastclick.min.js"></script>
        <!--Jquery Nano Scroller js [ REQUIRED ]-->
        <script src="plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <!--Metismenu js [ REQUIRED ]-->
        <script src="plugins/metismenu/metismenu.min.js"></script>
        <!--Jasmine Admin [ RECOMMENDED ]-->
        <script src="js/scripts.js"></script>
        <!--Switchery [ OPTIONAL ]-->
        <script src="plugins/switchery/switchery.min.js"></script>
        <!--Jquery Steps [ OPTIONAL ]-->
        <script src="plugins/parsley/parsley.min.js"></script>
        <!--Jquery Steps [ OPTIONAL ]-->
        <script src="plugins/jquery-steps/jquery-steps.min.js"></script>
        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <!--Bootstrap Wizard [ OPTIONAL ]-->
        <script src="plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <!--Masked Input [ OPTIONAL ]-->
        <script src="plugins/masked-input/bootstrap-inputmask.min.js"></script>
        <!--Bootstrap Validator [ OPTIONAL ]-->
        <script src="plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
        <!--Fullscreen jQuery [ OPTIONAL ]-->
        <script src="plugins/screenfull/screenfull.js"></script>
        <!--Form Wizard [ SAMPLE ]-->
        <script src="js/demo/wizard.js"></script>
        <!--Form Wizard [ SAMPLE ]-->
        <script src="js/demo/form-wizard.js"></script>
{{/contentFor}}