{{#contentFor "pageScripts"}}
  <!--Demo [ DEMONSTRATION ]-->
        <link href="css/demo/jasmine.css" rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="plugins/pace/pace.min.css" rel="stylesheet">
        <script src="plugins/pace/pace.min.js"></script>
{{/contentFor}}


 <div class="boxed">
                <!--CONTENT CONTAINER-->
                <!--===================================================-->
                <div id="content-container">
                    <!--Page Title-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <header class="pageheader hidden-xs">
                        <h3><i class="fa fa-home"></i> Panel </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Home </a> </li>
                                <li class="active"> Panel </li>
                            </ol>
                        </div>
                    </header>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End page title-->
                    <!--Page content-->
                    <!--===================================================-->
                    <div id="page-content">
                        <div class="row">
                            <div class="col-lg-4 grid">
                                <!-- Simple Panel -->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Default Panel</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!-- End of Simple Panel -->
                                <!--Panel with Switcher-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button type="button" class="btn btn-info btn-icon icon-lg fa fa-trash"></button>
                                            <button type="button" class="btn btn-danger btn-icon icon-lg fa fa-cog"></button>
                                        </div>
                                        <h3 class="panel-title">With Icon Button</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End of Panel with Switcher-->
                                <!--Panel with Buttons-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="dropdown-toggle btn btn-info">
                                                <i class="fa fa-gear fa-lg"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="panel-title">With Dropdown buttons</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End of Panel with Buttons-->
                                <!--Panel with Progress bar-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <div class="progress progress-md">
                                                <div style="width: 70%" class="progress-bar progress-bar-primary progress-bar-striped active"></div>
                                            </div>
                                        </div>
                                        <h3 class="panel-title">With progress bar</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End panel with Progress bar-->
                                <!--Panel with Pager-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <ul class="pager pager-rounded">
                                                <li><a href="#">Previous</a></li>
                                                <li><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="panel-title">With pager</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Panel with Pager-->
                                <!--Panel with Text-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-backward"></i> </button>
                                                <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-play"></i> </button>
                                                <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-pause"></i> </button>
                                                <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-forward"></i> </button>
                                            </div>
                                        </div>
                                        <h3 class="panel-title">With text</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Panel with Text-->
                                <!--Panel with Table-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <h3 class="panel-title">With table</h3>
                                    </div>
                                    <!--Default panel contents-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <!--Table-->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">3</td>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-footer"> Panel Footer </div>
                                </div>
                                <!--===================================================-->
                                <!--End Panel with Table-->
                            </div>
                            <div class="col-lg-4 grid">
                                <!--Panel with Button Group-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-info">Left</button>
                                                <button type="button" class="btn btn-sm btn-info">Middle</button>
                                                <button type="button" class="btn btn-sm btn-info">Right</button>
                                            </div>
                                        </div>
                                        <h3 class="panel-title">Button Group</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End of Panel with Button Group-->

                                <!--Split Buttons Dropdown-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <div class="btn-group">
                                                <button class="btn btn-danger">Action</button>
                                                <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                <i class="dropdown-caret fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="panel-title">With buttons</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End panel with variety of components-->
                                <!--Panel with Switcher-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <input id="demo-panel-w-switch" type="checkbox" checked />
                                        </div>
                                        <h3 class="panel-title">With switcher</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End of Panel with Switcher-->
                                <!--Panel with Pagination-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <ul class="pagination">
                                                <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3 class="panel-title">With pagination</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Panel with Pagination-->
                                <!--Panel with List Group-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <h3 class="panel-title">With list groups</h3>
                                    </div>
                                    <!--Default panel contents-->
                                    <div class="panel-body">
                                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                    <!--List group-->
                                    <ul class="list-group">
                                        <li class="list-group-item">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                </div>
                                <!--===================================================-->
                                <!--End Panel with List Group-->
                                <!--Collapsed Panel by default-->
                                <!--===================================================-->
                                <div class="panel">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Collapsed by default</h3>
                                    </div>
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Collapsed Panel by default-->
                            </div>
                            <div class="col-lg-4 grid">
                                <!--Primary panel-->
                                <!--===================================================-->
                                <div class="panel panel-bordered panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-primary" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-primary" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-primary" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-primary" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Primary</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Primary Panel-->
                                <!--Info Panel-->
                                <!--===================================================-->
                                <div class="panel panel-bordered panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-info" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-info" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-info" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-info" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Info</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Info Panel-->
                                <!--Success Panel-->
                                <!--===================================================-->
                                <div class="panel panel-bordered panel-success">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-success" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-success" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-success" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Success</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Success Panel-->
                                <!--Primary Panel-->
                                <!--===================================================-->
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-primary" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-primary" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-primary" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-primary" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Primary</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Primary Panel-->
                                <!--Info Panel-->
                                <!--===================================================-->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-info" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-info" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-info" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-info" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Info</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Info Panel-->
                                <!--Success Panel-->
                                <!--===================================================-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-success" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-success" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-success" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Success</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Success Panel-->
                                <!--Mint Panel-->
                                <!--===================================================-->
                                <div class="panel panel-mint">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-mint" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-mint" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-mint" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-mint" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Mint</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Mint Panel-->
                                <!--Warning Panel-->
                                <!--===================================================-->
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-warning" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-warning" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-warning" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-warning" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Warning</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Warning Panel-->
                                <!--Danger Panel-->
                                <!--===================================================-->
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-danger" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                            <button class="btn btn-danger" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-danger" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                            <button class="btn btn-danger" data-dismiss="panel"><i class="fa fa-times"></i></button>
                                        </div>
                                        <h3 class="panel-title">Danger</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--End Danger Panel-->
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End page content-->
                </div>
                <!--===================================================-->
                <!--END CONTENT CONTAINER-->
                <!--MAIN NAVIGATION-->
                <!--===================================================-->
                <nav id="mainnav-container">
                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <i class="fa fa-forumbee brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">WOW</span>
                            </div>
                        </a>
                    </div>
                    <!--================================-->
                    <!--End brand logo & name-->


{{#contentFor "pageScripts"}}
  <!--===================================================-->
        <!-- END OF CONTAINER -->
        <!--JAVASCRIPT-->
        <!--=================================================-->
        <!--jQuery [ REQUIRED ]-->
        <script src="js/jquery-2.1.1.min.js"></script>
        <!--jQuery Ui [ REQUIRED ]-->
        <script src="js/jquery-ui.min.js"></script>
        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="js/bootstrap.min.js"></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src="plugins/fast-click/fastclick.min.js"></script>
        <!--Jquery Nano Scroller js [ REQUIRED ]-->
        <script src="plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <!--Metismenu js [ REQUIRED ]-->
        <script src="plugins/metismenu/metismenu.min.js"></script>
        <!--Jasmine Admin [ RECOMMENDED ]-->
        <script src="js/scripts.js"></script>
        <!--Switchery [ OPTIONAL ]-->
        <script src="plugins/switchery/switchery.min.js"></script>
        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <!--Fullscreen jQuery [ OPTIONAL ]-->
        <script src="plugins/screenfull/screenfull.js"></script>
        <!--Ui Panel script [ DEMONSTRATION ]-->
        <script src="js/demo/ui-panels.js"></script>
{{/contentFor}}